<ng-container *transloco="let t">
  @if (raceModel) {
    <h1>{{ raceModel.name }}</h1>
    <p>{{ raceModel.startInstant | fromNow }}</p>
    <a class="btn btn-primary" [routerLink]="['/races', raceModel.id, 'live']">{{ t('bet.watch-live') }}</a>

    @if (betFailed) {
      <ngb-alert type="danger" (closed)="betFailed = false">{{ t('bet.started-or-finished') }}</ngb-alert>
    }

    <div class="py-2">{{ t('bet.click-to-bet') }}</div>
    <div class="row">
      @for (pony of raceModel.ponies; track pony.id) {
        <div class="col-12 col-md-2" [class.selected]="isPonySelected(pony)">
          <pr-pony [ponyModel]="pony" (ponyClicked)="betOnPony(pony)" />
        </div>
      }
    </div>
  }
</ng-container>
