<ng-container *transloco="let t">
  <div class="text-center" style="margin-top: 100px">
    <h1>
      Ponyracer <small>{{ t('home.subtitle') }}</small>
    </h1>
  </div>

  @if (!user()) {
    <div class="text-center">
      <a class="btn btn-large btn-primary me-2" routerLink="/users/login">{{ t('home.login') }}</a>
      <a class="btn btn-large btn-primary" routerLink="/users/register">{{ t('home.register') }}</a>
    </div>
  } @else {
    <div class="text-center">
      <a class="btn btn-large btn-primary" routerLink="/races">{{ t('home.races') }}</a>
    </div>
  }
</ng-container>
