<ng-container *transloco="let t">
  @if (raceModel) {
    <h1>{{ raceModel.name }}</h1>

    @if (error) {
      <ngb-alert [dismissible]="false" type="danger">{{ t('live.error') }}</ngb-alert>
    }

    <div id="live-race">
      @switch (raceModel.status) {
        @case ('FINISHED') {
          <div>
            @if (!winners.length) {
              <div>{{ t('live.done') }}</div>
            } @else {
              @if (betWon) {
                <ngb-alert [dismissible]="false" type="success">{{ t('live.won') }}</ngb-alert>
              } @else if (raceModel.betPonyId) {
                <ngb-alert [dismissible]="false">{{ t('live.lost') }}</ngb-alert>
              }
              <div>{{ t('live.winners') }}</div>
              <div class="row">
                @for (winner of winners; track winner.id) {
                  <div class="col-12 col-md-2" [class.selected]="winner.id === raceModel.betPonyId">
                    <pr-pony [ponyModel]="winner" />
                  </div>
                }
              </div>
            }
          </div>
        }
        @case ('PENDING') {
          <div>
            <div>{{ t('live.pending', { when: raceModel.startInstant | fromNow }) }}</div>
            <div class="row">
              @for (pony of raceModel.ponies; track pony.id) {
                <div class="col-sm-2" [class.selected]="pony.id === raceModel.betPonyId">
                  <pr-pony [ponyModel]="pony" />
                </div>
              }
            </div>
          </div>
        }
        @case ('RUNNING') {
          <div>
            <div>{{ t('live.boost') }}</div>
            <div style="margin-left: 95%; margin-bottom: 5px">
              <span class="fa fa-flag" style="font-size: x-large"></span>
            </div>
            <div style="width: 95%; border-right: 3px dotted lightgray">
              @for (pony of poniesWithPosition; track pony.id) {
                <div
                  class="pony-wrapper"
                  [class.selected]="pony.id === raceModel.betPonyId"
                  [style.marginLeft.%]="pony.position - 5"
                  style="transition: all linear 1s"
                >
                  <pr-pony [ponyModel]="pony" [isRunning]="true" [isBoosted]="pony.boosted" (ponyClicked)="onClick(pony)" />
                </div>
              }
            </div>
          </div>
        }
      }
    </div>
  }
</ng-container>
